<header class="header">
    <h1 class="header__title">
        <a routerLink="/" class="header__title__link">Upload</a>
    </h1>
    <nav class="header__nav nav">
        <ul class="header__nav__list list">
            <li class="header__nav__list__item list-item">
                <a routerLink="/" class="header__nav__list__item__link link">Link</a>
            </li>
            <li class="header__nav__list__item list-item">
                <a routerLink="/dashboard" class="header__nav__list__item__link link">Dashboard</a>
            </li>
            <li class="header__nav__list__item list-item">
                <button (click)="switchTheme()"
                    class="header__nav__list__item__button btn btn-green">Switch</button>
            </li>
            <li class="header__nav__list__item list-item">
                <!-- <a routerLink="/login" class="header__nav__list__item__button btn">Login</a> -->
                <app-login></app-login>
            </li>
        </ul>
    </nav>
</header>