.hover {
    background-color: var(--overlay0);
}

.upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px dashed var(--mauve);
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;

    &__info {
        display: flex;
        gap: 20px;
    }

    &__icon {
        width: 80px;

        filter: var(--mauve-filter);
    }

    &__files-list {
        &__item {
            &__content {
                &__size {
                    // color: var(--red);
                    // font-weight: bolder;
                }
            }
        }
    }
}

.file-size {
    color: var(--red);
    font-weight: bolder;
}

.border-bottom {
    border-bottom: 1px solid var(--text);
}

.valid {
    color: var(--green);
}